.container {
	width: 100%;
	display: flex;
	justify-content: center;
	height: 50px;
}

.market_data {
	height: 45px;
	width: 60%;
	max-width: 90%;
	border-radius: 0 0 25px 25px;
	background-color: #191b1f;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.market_data_list {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 5px;
}

.market_data_list li {
	display: flex;
	align-items: center;
	padding: 5px;
}

.dot {
	height: 7px;
	width: 7px;
	background: white;
	border-radius: 100%;
	margin-right: 10px;
	display: inline-block;
}

.percentage {
	background: #2172e5;
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 55px;
	height: 12px;
	border-radius: 7px;
	margin-left: 10px;
}

.inner_percentage {
	height: 12px;
	width: var(--percent-value);
	background: white;
	border-radius: 7px;
}

.progress_bar {
	width: 50px;
	height: 12px;
	border-radius: 10px;
	margin: auto 0 auto 5px;
	background: #2172e5;
}

.inner_bar {
	height: 12px;
	border-radius: 10px;
	background: white;
}

.image {
	margin-right: 5px;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 768px) {
	.market_data {
		height: 30px;
	}
}
