.hamburger_container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	margin-top: 0;
}

.hamburger_menu {
	height: 110px;
	padding-top: 5px;
	width: 80px;
	margin-right: 5%;
	margin-top: -10px;
	color: white;
	background-color: #2c2f36;
	padding-right: 3px;
	position: absolute;
	right: 0;
	top: 0;
	float: right;
}

.hamburger_menu button {
	border: none;
	background: none;
	color: white;
	font-size: 14px;
	padding: 0;
	font-family: inherit;
	font-weight: 500;
}

.solid {
	width: 85%;
	margin-right: 0;
}

@media screen and (min-width: 768px) {
	.hamburger_container {
		display: none;
	}
}
