.navbar {
	background-color: #191b1f;
	color: white;
	font-weight: 500;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	height: auto;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding-block: 10px;
}

.nav_wrapper {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 60%;
}

.left {
	display: flex;
	justify-content: space-between;
	width: 40%;
}

.enable_click:hover {
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.nav_wrapper {
		width: 90%;
		display: flex;
		justify-content: flex-start;
		margin: auto;
	}

	.left {
		width: 75%;
		justify-content: flex-start;
	}

	.right {
		width: 25%;
	}
}
