.navbar {
	background-color: #191b1f;
	color: white;
	font-weight: 500;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	height: auto;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding-block: 10px;
}

.nav_wrapper {
	width: 90%;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 60%;
}

.navbar p {
	margin-top: 0;
	display: inline;
}

.left {
	display: flex;
	justify-content: space-between;
	width: 40%;
}

.left a {
	color: inherit;
	text-decoration: none;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 120px;
}

.left ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.left li {
	display: inline-block;
	width: 120px;
	border-radius: 10px;
	text-align: center;
	padding-block: 10px;
}

.link_active {
	border-radius: 10px;
	height: 25px;
	width: 120px;
	font-size: inherit;
	background-color: #2c2f36;
}

@media screen and (max-width: 768px) {
	.nav_wrapper {
		width: 90%;
		display: flex;
		justify-content: flex-start;
		margin: auto;
	}

	.left {
		width: 75%;
		justify-content: flex-start;
	}

	.right {
		width: 25%;
	}
}
