.writing_holder {
	position: absolute;
}

.medium_writing {
	font-size: 1rem;
}

.large_writing {
	font-size: 1.7rem;
	line-height: 2.2rem;
	font-weight: 500;
}

@media screen and (max-width: 768px) {
	p {
		margin: 0;
	}

	.medium_writing {
		font-size: 0.9rem;
	}

	.large_writing {
		font-size: 1.4rem;
		line-height: 2rem;
		font-weight: 500;
	}
}
